In [2]:
import pandas as pd
from datetime import datetime
from datetime import date

In [4]:
d = {'col0': [1, 2, 6], 'col1': [3, 8, 3], 'col2': ['17.02.1979',
          '11.11.1993',
          '01.08.1961']}

df = pd.DataFrame(data=d)

df

   col0  col1        col2
0     1     3  17.02.1979
1     2     8  11.11.1993
2     6     3  01.08.1961

In [5]:
def calculate_age(born):
    born = datetime.strptime(born, "%d.%m.%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [7]:

df['age'] = df['col2'].apply(calculate_age)
print(df)

   col0  col1        col2  age
0     1     3  17.02.1979   41
1     2     8  11.11.1993   26
2     6     3  01.08.1961   58